<template>
  <PageTitle />
  <div class="categories-row">
    <CategoryItem
      v-for="(item, key) in categoriesList"
      :key="`CategoryItem-${key}`"
      :item="item"
    />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";

export default {
  data() {
    return {
      categoriesList: [
        {
          title: "Premium",
          img: "@/assets/images/premium-svgrepo-com.jpeg",
          isGray: false,
          children: [
            {
              title: "Детям",
              children: [
                {
                  title: "Все категории",
                },
                {
                  title: "Белье и купальники",
                },
                {
                  title: "Одежда",
                },
              ],
            },
            {
              title: "Женщинам",
              children: [
                {
                  title: "Все категории",
                },
                {
                  title: "Белье и купальники",
                },
                {
                  title: "Красота",
                },
                {
                  title: "Одежда",
                },
              ],
            },
          ],
        },
        {
          title: "Premium",
          img: "@/assets/images/premium-svgrepo-com.jpeg",
          isGray: true,
          children: [
            {
              title: "Детям",
              children: [
                {
                  title: "Все категории",
                },
                {
                  title: "Белье и купальники",
                },
                {
                  title: "Одежда",
                },
              ],
            },
            {
              title: "Женщинам",
              children: [
                {
                  title: "Все категории",
                },
                {
                  title: "Белье и купальники",
                },
                {
                  title: "Красота",
                },
                {
                  title: "Одежда",
                },
              ],
            },
          ],
        },
      ],
    };
  },
  watch: {},
  components: {
    CategoryItem: defineAsyncComponent(() => import("../components/Item.vue")),
  },
  mixins: [],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.categories-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
</style>
