<template>
  <PageTitle />
  <div class="statistic-row">
    <StatisticCard v-for="(item, key) in statistics" :key="key" :item="item" />
  </div>
  <div class="products-row">
    <ProductCard v-for="(item, key) in products" :key="key" :item="item" />
  </div>

  <Chart
    type="line"
    :data="chartData"
    :options="chartOptions"
    class="h-30rem"
  />

  <div class="table-card">
    <div class="table-card-top">
      <div class="table-card-left">
        <div class="table-card__title">Последние заказы</div>
        <div class="table-card__sub-title">
          по дате, магазин <span>“Название”</span>
        </div>
      </div>
      <div class="table-card-right">
        <Dropdown
          v-model="selectedCity"
          :options="cities"
          optionLabel="name"
          placeholder="Select a City"
          class="w-full md:w-14rem"
        />
      </div>
    </div>
    <DataTable :value="productsTable" scrollable>
      <Column
        v-for="(item, key) in columns"
        :key="key"
        :field="item.field"
        :header="item.header"
      ></Column>
    </DataTable>
  </div>
</template>

<script>
import DashboardMixin from "../mixins/Dashboard.mixin";
import { defineAsyncComponent } from "vue";

export default {
  data() {
    return {
      selectedCity: null,
      cities: [
        { name: "New York", code: "NY" },
        { name: "Rome", code: "RM" },
        { name: "London", code: "LDN" },
        { name: "Istanbul", code: "IST" },
        { name: "Paris", code: "PRS" },
      ],
      productsTable: [
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
      ],
      statistics: [
        {
          title: "Заказов за сегодня",
          value: 162,
          direction: "up",
          count: 123,
          type: 1,
        },
        {
          title: "Выручка за сегодня",
          value: 162,
          direction: "down",
          count: 456,
          type: 1,
        },
        {
          title: "Выручка за неделю",
          value: 162,
          direction: "up",
          count: 123,
          type: 2,
        },
        {
          title: "Заказов за неделю",
          value: 162,
          direction: "down",
          count: 456,
          type: 2,
        },
      ],
      products: [
        {
          title: "Топ-товар по продажам",
          name: "Футболка",
          type: "Продаж",
          price: "6330 шт.",
          data: [
            {
              title: "Оборот",
              value: "12312руб.",
            },
            {
              title: "Отзывы",
              value: "421шт",
            },
          ],
          footer: "Категория: Мужчинам / Одежда для дома / Футболка",
        },
        {
          title: "Топ-товар по выручке",
          name: "Футболка",
          type: "Оборот",
          price: "8652 руб.",
          data: [
            {
              title: "Оборот",
              value: "23шт.",
            },
            {
              title: "Отзывы",
              value: "421шт",
            },
          ],
          footer: "Категория: Мужчинам / Одежда для дома / Футболка",
        },
      ],
    };
  },
  watch: {},
  components: {
    StatisticCard: defineAsyncComponent(() =>
      import("@/components/card/Statistic.vue")
    ),
    ProductCard: defineAsyncComponent(() =>
      import("@/components/card/Product.vue")
    ),
  },
  mixins: [DashboardMixin],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.table-card {
  background: #ffffff;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 13px;
  color: #515050;
  padding: 18px 21px;
  &-top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-left {
  }
  &-right {
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  &__sub-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #515050;
    span {
      color: #00b61d;
      font-weight: 700;
    }
  }
}
</style>
