<template>
  <div
    :class="[
      'product-card-wrap',
      {
        isKanbanCard,
      },
    ]"
  >
    <div class="product-card-title" v-if="item.title">{{ item.title }}</div>
    <div
      :class="[
        'product-card',
        {
          hasUpdate: item.isChoosen,
        },
      ]"
    >
      <div class="product-card-left">
        <div class="product-card__name" v-if="!isKanbanCard">
          {{ item.name }}
        </div>
        <div class="product-card__type">{{ item.type }}</div>
        <div class="product-card__price">{{ item.price }}</div>
        <div class="product-card-data">
          <div
            class="product-card-data-col"
            v-for="(elem, key) in item.data"
            :key="key"
          >
            <div class="product-card-data__name">{{ elem.title }}</div>
            <div class="product-card-data__value">{{ elem.value }}</div>
          </div>
        </div>
        <div class="product-card-footer">{{ item.footer }}</div>
      </div>
      <div
        :class="[
          'product-card-right',
          {
            hasUpdate: item.isChoosen,
          },
        ]"
      >
        <div class="product-card-right-holder"></div>
        <Button
          v-if="item.isChoosen"
          label="Обновление"
          severity="warning"
          size="small"
        />
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    isKanbanCard: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.product-card {
  $border: 5px;

  background: #ffffff;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 13px;
  padding: 18px 21px;
  color: #515050;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  position: relative;
  &.hasUpdate {
  }
  &-wrap {
    width: 100%;
    &.isKanbanCard {
      .product-card__price {
        font-size: 24px;
        line-height: 29px;
      }
      .product-card__type {
        margin-bottom: 0;
      }
      .product-card__type,
      .product-card-data-col,
      .product-card-footer {
        font-size: 12px;
        line-height: 15px;
      }
      .product-card-right-holder {
        height: 104px;
        width: 104px;
      }
    }
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #484848;
    margin-bottom: 22px;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__type {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  &__price {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &-data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    &__name {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 5px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__value {
      font-weight: 300;
      font-size: 14px;
      color: #00b61d;
      line-height: 17px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  &-right {
    width: 190px;
    &.hasUpdate {
      .product-card-right-holder {
        margin-bottom: 12px;
      }
      .p-button.p-component[severity="warning"] {
        font-size: 12px;
      }
    }
    &-holder {
      box-shadow: 0px 0px 1px #000000;

      border-radius: 13px;
      padding: 5px;
      height: 190px;
    }
  }
}
</style>