<template>
  <div class="statistic-card">
    <div class="statistic-card-top">
      <div class="statistic-card__title">{{ item.title }}</div>
      <div
        :class="[
          'statistic-card-icon',
          {
            gray: item.type !== 1,
          },
        ]"
      >
        <svg class="svg" viewBox="0 0 33 33" style="width: 33px; height: 33px">
          <use xlink:href="@/assets/images/sprite.svg#orderToday" />
        </svg>
      </div>
    </div>
    <div class="statistic-card__value">{{ item.value }}</div>
    <div class="statistic-card-direction">
      <span :class="item.direction">{{ valueDirection }}</span>
      {{ textDirection }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    textDirection() {
      return this.item.type == 1
        ? "по сравнению со вчера"
        : "прирост от прошлой";
    },
    valueDirection() {
      return this.item.type == 1
        ? `+${this.item.count}%`
        : `-${this.item.count}%`;
    },
  },
};
</script>

<style lang="scss" scoped>
.statistic-card {
  padding: 14px;
  background: #ffffff;

  box-shadow: 0px 0px 1px #000000;
  border-radius: 13px;
  width: 100%;
  &-icon {
    background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    @media (max-width: 768px) {
      border-radius: 14px;
    }
    &.gray {
      background: linear-gradient(180deg, #737373 0%, #535353 100%);
    }
  }
  &-top {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 100px;
    color: #515050;
  }
  &__value {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #515050;
    margin-bottom: 7px;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
  &-direction {
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    color: #515050;
    @media (max-width: 768px) {
      display: none;
    }
    .up {
      color: #00b61d;
      font-weight: 700;
    }
    .down {
      font-weight: 700;
      color: #f23218;
    }
  }
}
</style>