<template>
  <div class="pageInfo">
    <div class="pageInfo-Left">Зоотовары / Игрушки <span>за 30 дней</span></div>
    <div class="pageInfo-Right">
      <div class="pageInfo-Right-period">
        <div class="pageInfo-Right-period__title">Выбран период:</div>
        <Dropdown
          v-model="selectedCity"
          :options="cities"
          optionLabel="name"
          placeholder="Select a City"
          class="w-full md:w-14rem"
        />
        <Button
          label="Календарь"
          icon="pi pi-calendar"
          severity="secondary"
          class="btn-small"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="statistic-row">
    <StatisticCard v-for="(item, key) in statistics" :key="key" :item="item" />
  </div>

  <div class="book">
    <div class="book-left">
      <div class="book-picture">
        <img
          src="@/assets/images/Rectangl.png"
          class="book-picture__big"
          alt=""
        />
        <div class="book-picture-small">
          <img
            src="@/assets/images/Rectangl.png"
            class="book-picture__small"
            alt=""
          />
          <img
            src="@/assets/images/Rectangl.png"
            class="book-picture__small"
            alt=""
          />
          <img
            src="@/assets/images/Rectangl.png"
            class="book-picture__small"
            alt=""
          />
          <img
            src="@/assets/images/Rectangl.png"
            class="book-picture__small"
            alt=""
          />
        </div>
        <div class="book-picture-btn pc">
          <Button
            label="История изменений"
            severity="success"
            class="btn-small"
          />
          <Button
            label="Смотреть похожие"
            severity="success"
            class="btn-small"
          />
          <Button
            label="Отзывы и ответы"
            severity="secondary"
            class="btn-small"
          />
        </div>
      </div>
    </div>
    <div class="book-info">
      <div class="book-info-title">
        <div class="book-info__title">Артикул: <span>26405540</span></div>
        <div class="book-info-title-right">
          <div class="book-info-title-right-item">
            Обновлено: <span>23.04.2023</span>
          </div>
          <div class="book-info-title-right-item">
            Впервые обнаружен: <span>18.04.2021</span>
          </div>
        </div>
      </div>
      <div class="book-info-body">
        <div class="book-info-body__title">
          Название:
          <span>
            Лазерная указка проектор, фонарик, игрушка для кошек и собак
          </span>
        </div>
        <div class="book-info-body__title">
          Предмет: Товары для животных / Игрушка для животных
        </div>

        <div class="book-info-attr">
          <div class="book-info-attr-col">
            <div class="book-info-attr__item">Бренд: <span>Импринт</span></div>
            <div class="book-info-attr__item">
              Поставщик: <span>ИП Арбузов</span>
            </div>
            <div class="book-info-attr__item">
              Цена до скидки: <span>1 445,00 ₽, скидка 80%</span>
            </div>
          </div>
          <div class="book-info-attr-col">
            <div class="book-info-attr__item">Выкуп: <span>95,74 %</span></div>
            <div class="book-info-attr__item">
              С учетом возврата:: <span>95,39 %</span>
            </div>
          </div>
        </div>

        <div class="book-info-art">
          <div class="book-info-art__item">
            <svg
              class="svg"
              viewBox="0 0 24 24"
              style="width: 24px; height: 24px"
            >
              <use xlink:href="@/assets/images/sprite.svg#pallet" />
            </svg>
            <div class="book-info-art-info">
              Цвет:
              <span>Белый</span>
            </div>
          </div>
          <div class="book-info-art__item">
            <svg
              class="svg"
              viewBox="0 0 24 24"
              style="width: 24px; height: 24px"
            >
              <use xlink:href="@/assets/images/sprite.svg#pallet" />
            </svg>
            <div class="book-info-art-info">
              Руйтинг:
              <span>96%</span>
            </div>
          </div>
          <div class="book-info-art__item">
            <svg
              class="svg"
              viewBox="0 0 24 24"
              style="width: 24px; height: 24px"
            >
              <use xlink:href="@/assets/images/sprite.svg#pallet" />
            </svg>
            <div class="book-info-art-info">
              Цена:
              <span>299.00 ₽</span>
            </div>
          </div>
          <div class="book-info-art__item">
            <svg
              class="svg"
              viewBox="0 0 24 24"
              style="width: 24px; height: 24px"
            >
              <use xlink:href="@/assets/images/sprite.svg#pallet" />
            </svg>
            <div class="book-info-art-info">
              Комиссия:
              <span>12% FBO / 12% FBS</span>
            </div>
          </div>
        </div>

        <div class="book-info-comment">
          <div class="book-info-comment__label">
            Пользовательский комментарий:
          </div>
          <Textarea v-model="value" placeholder="Текст комментария" />
          <Button
            label="Сохранить комментарий"
            severity="secondary"
            class="btn-small"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="book-picture-btn mobile">
    <Button label="История изменений" severity="success" class="btn-small" />
    <Button label="Смотреть похожие" severity="success" class="btn-small" />
    <Button label="Отзывы и ответы" severity="secondary" class="btn-small" />
  </div>
  <div class="card">
    <DataTable
      :value="productsTable"
      v-model:filters="filters"
      v-model:selection="selectedProduct"
      dataKey="id"
      filterDisplay="row"
      scrollable
    >
      <Column selectionMode="multiple" frozen></Column>

      <Column
        v-for="(item, key) in columns"
        :key="key"
        :field="item.field"
        :header="item.header"
        :showFilterMenu="false"
        :filterMenuStyle="{ width: '14rem' }"
        :frozen="item.frozen"
      >
        <template #filter="{ filterModel, filterCallback }">
          <InputText
            v-model="filterModel.value"
            type="text"
            @input="filterCallback()"
            class="p-column-filter"
            placeholder="Search by name"
          />
        </template>
      </Column>
    </DataTable>
  </div>
  <div class="table-footer">
    <div class="table-footer-btn">
      <Button
        label="Экспорт выделенного"
        severity="success"
        class="btn-small"
      />
      <Button label="Выделить все" severity="secondary" class="btn-small" />
      <Button label="Снять выделение" severity="secondary" class="btn-small" />
    </div>
    <div class="table-footer-pagination">
      <Button icon="pi pi-arrow-left" severity="success" class="btn-small" />
      <p>Страница 1 из 259</p>
      <Button icon="pi pi-arrow-right" severity="success" class="btn-small" />
    </div>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import ProductsMixin from "../mixins/Products.mixin";
import { FilterMatchMode } from "primevue/api";

export default {
  data() {
    return {
      value: "",
      filters: {
        code: { value: null, matchMode: FilterMatchMode.CONTAINS },
      },
      selectedProduct: [],
      statistics: [
        {
          title: "Заказов за сегодня",
          value: 162,
          direction: "up",
          count: 123,
          type: 1,
        },
        {
          title: "Выручка за сегодня",
          value: 162,
          direction: "down",
          count: 456,
          type: 1,
        },
        {
          title: "Выручка за неделю",
          value: 162,
          direction: "up",
          count: 123,
          type: 2,
        },
        {
          title: "Заказов за неделю",
          value: 162,
          direction: "down",
          count: 456,
          type: 2,
        },
      ],
      productsTable: [
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
        {
          code: 12,
          name: "123",
          category: "123",
          quantity: "123",
        },
      ],
      selectedCity: null,
      cities: [
        { name: "New York", code: "NY" },
        { name: "Rome", code: "RM" },
        { name: "London", code: "LDN" },
        { name: "Istanbul", code: "IST" },
        { name: "Paris", code: "PRS" },
      ],
    };
  },
  watch: {},
  components: {
    CategoryItem: defineAsyncComponent(() => import("../components/Item.vue")),
    StatisticCard: defineAsyncComponent(() =>
      import("@/components/card/Statistic.vue")
    ),
  },
  mixins: [ProductsMixin],
  methods: {},
  mounted() {},
};
</script>

<style lang="scss" scoped>
.book {
  padding: 22px;
  background: #ffffff;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 8px;
  margin-bottom: 36px;
  display: flex;
  align-items: flex-start;
  gap: 28px;
  &-left {
    width: 200px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &-picture {
    &__big {
      width: 165px;
      margin-bottom: 13px;
    }
    &__small {
      width: 33px;
    }
    &-small {
      display: flex;
      margin-bottom: 13px;
      gap: 11px;
    }
    &-btn {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }
  }
  &-info {
    width: 100%;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 21px;
      &-right {
        @media (max-width: 768px) {
          display: none;
        }
        &-item {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          text-align: right;
          color: #515050;
          span {
            font-weight: 700;
          }
        }
      }
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;

      color: #515050;
      span {
        background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    &-body {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #515050;
        span {
          font-weight: 700;
          background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
    &-attr {
      display: flex;
      align-items: flex-start;
      margin-top: 21px;
      margin-bottom: 21px;
      &-col {
        width: 49%;
      }
      &__item {
        margin-bottom: 6px;
        span {
          font-weight: 700;
        }
      }
    }
    &-art {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      gap: 14px;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 8px 12px;
        background: #f5f5f5;
        border-radius: 8px;
      }
      &-info {
        span {
          display: block;
          font-weight: 700;
          background: linear-gradient(180deg, #2a8543 0%, #165e2a 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
    &-comment {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      color: #515050;

      @media (max-width: 768px) {
        display: none;
      }
      &__label {
        margin-bottom: 11px;
      }

      textarea {
        background: #f5f5f5;
        border: 1px solid #a3a3a3;
        border-radius: 8px;
        resize: none;
        width: 100% !important;
        height: 66px !important;
        margin-bottom: 16px;
      }
      button {
        margin-left: auto;
      }
    }
  }
}

.book-picture-btn {
  &.pc {
    display: flex;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &.mobile {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
</style>
