<template>
  <router-view />
  <Toast />
  <ConfirmDialog></ConfirmDialog>
  <DynamicDialog></DynamicDialog>
</template>

<script>
export default {
  mounted() {
    // console.log(this.$router);
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/main.scss";
</style>
