<template>
  <div class="min-h-screen flex relative lg:static surface-ground">
    <LeftMenu :visibleLeft="visibleLeft" @hide="visibleLeft = false" />
    <div
      class="min-h-screen main-wrapper flex flex-column relative flex-auto w-100"
    >
      <div class="top-panel">
        <div>
          <span class="p-input-icon-left top-panel-search">
            <i class="pi pi-search" />
            <InputText v-model="value1" placeholder="Поиск" />
          </span>
        </div>
        <div class="top-panel-user">
          <div class="top-panel-user-notification">
            <svg
              class="svg"
              viewBox="0 0 24 24"
              style="width: 24px; height: 24px"
            >
              <use xlink:href="@/assets/images/sprite.svg#bell" />
            </svg>
            <div class="indicator"></div>
          </div>
          <div class="top-panel-user-info">
            <div class="top-panel-user-info__name">ИП Иванов Иван</div>
            <Avatar label="P" class="mr-2" size="large" shape="circle" />
          </div>
        </div>
      </div>

      <div class="content-page">
        <router-view />
      </div>
    </div>
  </div>
  <Mobile />
  <div id="snackbar">Some text some message..</div>
</template>

<script>
import LeftMenu from "./components/LeftMenu.vue";
import Mobile from "./components/Mobile.vue";
import { mapActions, mapGetters } from "vuex";
// import ApiAuth from "@/api/auth";

import Cookies from "js-cookie";

export default {
  data() {
    return {
      visibleLeft: true,
      hideMe: false,
      items: [
        {
          label: "LogOut",
          command: () => {
            // ApiAuth.logOut();
            // this.$router.push("/");
            // Cookies.remove("token");
          },
        },
      ],
    };
  },
  computed: {},
  components: {
    LeftMenu,
    Mobile,
  },
  methods: {
    toggle(event) {
      this.$refs.menu.toggle(event);
    },
  },
  mounted() {
    if (Cookies.get("token")) {
    } else {
      this.$router.push("/");
    }
  },
};
</script>

<style lang="scss" scoped>
.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 23px;
  position: static;
  &-user {
    display: flex;
    align-items: center;
    gap: 5px;
    &-notification {
      background: #00892f;
      width: 39px;
      height: 39px;
      border-radius: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        display: none;
      }

      .indicator {
        background: #f23218;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0px;
        right: -5px;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      gap: 17px;
      cursor: pointer;
      &__name {
        color: #515050;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
      }
    }
  }
  &-search {
    @media (max-width: 768px) {
      display: none;
    }
    input {
      border: 1px solid #e2e2e2;
      border-radius: 18px;
      color: #484848;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      width: 460px;
      padding: 6px 10px;
      padding-left: 30px;

      &::placeholder {
        color: #484848;
      }
    }
  }
}

.content-page {
  padding: 0 26px;
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
}
</style>